body{
    color: #777777;
}

img {
    float: left;
    margin: 30px;
}

.icon {
    float: right;
    margin: -10px;
    margin-top: -70px;
}

li {
    display: inline;
}

li a:hover {
    background-color: #4eaaa4
}

.rightNavBar {
    float: right;
    padding: 14px 16px;

}

#leftNavBar {
    padding: 20px;
    background-color: #4eaaa4;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    padding-left: 20px;
    margin-left: -40px;
}

#about {
    padding: 5px;
}

#port {
    padding: 5px;
    
}

#contact {
    padding: 5px;
}

h2 {
    color: #4eaaa4;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: -5px;
}

#bottomLine {
    padding: 5px;
    margin-bottom: 0%;
    background-color: #4eaaa4;
    width: 100%;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #666666;
    width: 100%;
    color: white;
}

#outerNav {
    background-color: white;
    width: 100%;
    
}

.whiteNavBar {
    height: 100%;
    margin: -8px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    
}

.whiteNavBar::after {
    content: "";
    clear: both;
    display: table;

}

a {
    text-decoration: none;
    color: #777777;
    padding: 5px;
}

#maincontent {
    background-color: white;
    font-size: large;
    line-height: 1.5;
    width: 960px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

.textField {
    width: 90%;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px; 
    height: 20px; 
    
}

#messageStyle {
    height: 70px;
}

.bottomMargin {
    margin-bottom: 0;
    margin-left: 20px;
}

button {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4eaaa4;
    border: none;
    color: white;
    padding: 15px 32px;
    
}

hr {
    background-color: #dddddd;
    width: 95%;
}

.photoText {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-3%, -30%);
    color: white;
    height: auto;
    width: 90%;
    float: right;
    background-color: #4eaaa4;
    margin-top: -85px;
    margin-left: -90px;
}

@media screen and (max-width: 980px) {
    #outernav{
        width: auto;
    }

    .whiteNavBar {
        width: 80%;
        
    }

    body {
        color: #777777;
    }

    #maincontent {
        width: 80%;
           
    }

    h2 {
        color: black;
        
    }

    .textField {
        border-color: black;
    }
}

@media screen and (max-width: 768px) {
    #outernav{
        width: auto;   
    }

    .whiteNavBar {
        width: 90%;
    }

    body {
        color: #777777;
    }

    #maincontent {
        width: 90%;
    }

    .textField {
        border-color: black;
    }
}

@media screen and (max-width: 640px) {
    #outernav{
        width: auto;
        position:static;
    }

    .whiteNavBar {
        width: 50%;
        position:static;
        
    }
    
    .rightNavBar{
        position: static;
        width: 100%;
        text-align: center;
    } 

    body {
        color: #777777;
    }

    #maincontent {
        width: 90%;
        margin-bottom: 80%;
    }

    .textField {
        border-color: black;
    }

    #leftNavBar {
        padding: 5%;
        width: 100%;    
          
    }

    #pictureOfMe {
        width: 85%;
    }

    td {
        display: block;
    }

   .gunner {
       height: auto;
       width: 75%;
   }

    .photoText {
        height: auto;
        
    }
}


